<div class="row d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="my-4"><strong> Nova vožnja </strong></h2>
    </div>
  </div>

  <div class="main">
    <div class="row data">
      <div class="col-3 right">
        Vreme:
      </div>
      <div class="col-9">
        {{notificationData.orderTime | dateArrayToString}}
      </div>
      <div class="col-3 right">
        Od:
      </div>
      <div class="col-9">
        {{notificationData.departure}}
      </div>
      <div class="col-3 right">
        Do:
      </div>
      <div class="col-9">
        {{notificationData.arrival}}
      </div>
    </div>

    <div class="row mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Razlog</mat-label>
            <textarea matInput [formControl]="reason" formControlName="reason" (input)="handleInput($event)" placeholder="Ako odbijate vožnju unesite razlog"></textarea>
        </mat-form-field>
    </div>

    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center">
        <button mat-stroked-button color="warn" type="button" (click)="rejectDriving()"
                id="rejectButton" [disabled]="isDisabled">Odbij</button>
      </div>
    </div>


  </div>

