<h2 mat-dialog-title>Promena lozinke</h2>
<div mat-dialog-content class="content">
    <form [formGroup]="changePasswordForm">
        <mat-form-field class="formInput" appearance="outline">
            <mat-label>Trenutna lozinka</mat-label>
            <input matInput type="password" formControlName="currentPassword">
        </mat-form-field>
        <mat-form-field class="formInput" appearance="outline">
            <mat-label>Nova lozinka</mat-label>
            <input matInput type="password" formControlName="newPassword">
        </mat-form-field>
        <mat-form-field class="formInput" appearance="outline">
            <mat-label>Potvrdi lozinku</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions class="buttons">
    <button mat-raised-button color="primary" (click)="changePassword()">Potvrdi</button>
    <button mat-raised-button mat-dialog-close color="warn">Napusti</button>
</mat-dialog-actions>