<p-tabView class="ui-tabview-nav" [style]="{'text-align': 'center', 'display': 'block', 'float' : 'center'}">
    <p-tabPanel header="Zahtevi za izmenu profila">
        <ng-template pTemplate="content">
        <app-admin-drivers-requests-list></app-admin-drivers-requests-list>
        </ng-template>
    </p-tabPanel>
</p-tabView>
