<h2 mat-dialog-title>Kupi tokene za vožnju</h2>
<div mat-dialog-content class="container">
    <div>
        <h1>1 token = 1 dinar</h1>
        <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="selectedPackage">
            <mat-radio-button class="example-radio-button" *ngFor="let package of packages" [value]="package">
                {{package}} tokena
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div #paypal class="paypal-btn"></div>
</div>
<mat-dialog-actions class="buttons">
    <button mat-raised-button mat-dialog-close color="warn">Napusti</button>
</mat-dialog-actions>
