.buttons {
    display: flex;
    justify-content: right;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.example-radio-button {
    margin: 5px;
}

.container {
    margin: auto;
    width: 20rem;
    padding: 30px 0 0 0;
    height: 350px;
    position: relative;
}

.paypal-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
}