<a (click)="displayNotification()">
    <mat-card [style]="'margin-bottom : 5px;'" class="notification">
      <mat-card-content>
        <div class="main">
          <h3> {{notification.type | notificationTypeToString}} </h3>
          Za vožnju poručeno u: <br/>{{notification.date | dateArrayToString}}
        </div>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-7">
            {{notification.date | dateArrayToString}}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
