<p-tabView class="ui-tabview-nav" [style]="{'text-align': 'center', 'display': 'block', 'float' : 'center'}">
  <p-tabPanel header="Klijenti">
    <ng-template pTemplate="content">
      <app-admin-users-list [isClients]="true"></app-admin-users-list>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Vozači">
    <ng-template pTemplate="content">
      <app-admin-users-list [isClients]="false"></app-admin-users-list>
      <!--<app-admin-driver-list></app-admin-driver-list>-->
    </ng-template>
  </p-tabPanel>
</p-tabView>
