<div class="all">
  <div class="date">
    <mat-form-field appearance="fill">
      <mat-label>Unosite interval</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Početni datum">
        <input matEndDate formControlName="end" placeholder="Krajnji datum">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Početni datum nije validan</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Krajnji datum nije validan</mat-error>
    </mat-form-field>
    <button class="m-2" mat-raised-button (click)="submited()" color="primary">Pokaži</button>
  </div>
  <!--<div class="row my-2">
    <div class="col-10">
      <p-chart type="line" [data]="basicData" [responsive]="false"
               [width]="'1000px'"></p-chart>
    </div>
    <div class="col-2" *ngIf="reportDto.labels.length != 0">
      <div class="row my-4 summary">
        Broj vožnji
        <p><strong>Suma:  {{reportDto.sumOfDrivings.toFixed(2)}} </strong></p>
        <p><strong>Prosek: {{reportDto.averageOfDrivings.toFixed(2)}}</strong></p>
      </div>
      <div class="row my-4 summary">
        Kilometri
        <p><strong>Suma:  {{reportDto.sumOfDistances.toFixed(2)}} </strong></p>
        <p><strong>Prosek: {{reportDto.averageOfDistances.toFixed(2)}}</strong></p>
      </div>
      <div class="row my-4 summary">
        Troškovi
        <p><strong>Suma:  {{reportDto.sumOfMoney.toFixed(2)}} </strong></p>
        <p><strong>Prosek: {{reportDto.averageOfMoney.toFixed(2)}}</strong></p>
      </div>
    </div>
  </div>-->
  <app-complex-report [reportDto]="reportDto" [lastSelectedUser]="reportFor"></app-complex-report>

</div>

<p-toast position="top-right" key="report-message"></p-toast>
