.center {
    margin-left: 25%;
    width: 50%;
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: medium;
    margin-bottom: 20px;
}