<div class="center">
    <h1>Oops!</h1>
    <h1>404 Not Found</h1>
    <div>
        <p>Sorry, an error has occured. Requested page not found.</p>
    </div>
    <button mat-raised-button (click)="takeMeHome()" color="primary">Take me home</button>
</div>
