<div class="row" style="height: 600px">
  <div class="col-10">
    <app-simulation-map></app-simulation-map>
  </div>

  <div class="col-2">
    <button [disabled]="isButtonReportDisabled" mat-raised-button color="primary" (click)="reportInconsistency()">Prijavi nekonzistentnost </button>

    <p> {{timeText}}</p>
  </div>
</div>
<p-toast position="top-right" key="user-report-inconsistency"></p-toast>

