<div class="steps demo-content">
  <p-card>
    <ng-template pTemplate="content">
      <div class="row  m-2 p-2">

        <div class="row-10">
          <!-- [style]="{backgroundColor:'var(--cyan-300)', color:'var(--surface-900)'}"  class="p-badge-success" -->

          <div class="row">
            <div class="col-7" align="right">
              <p-badge size="large" [style]="{backgroundColor:'var(--cyan-300)', color:'var(--surface-900)'}"
                       class="p-badge-success"
                       [value]="'Cena: ' + (this.drivingPriceForBadge + this.selectedVehicle.price ).toFixed(2).toString()"></p-badge>
            </div>
          </div>
          <div class="row m-2 p-2">

            <div class="col-4">
              <div class="my-2">
                <h1> Izaberi dodatne usluge</h1>
                <div class="field-checkbox" class="m-2 p-2">
                  <p-checkbox name="group1" value="Vožnja sa bebom" [(ngModel)]="babyChecked" inputId="b"></p-checkbox>
                  <label for="b">Vožnja sa bebom</label>
                </div>
                <div class="field-checkbox" class="m-2 p-2">
                  <p-checkbox name="group1" value="Vožnja sa ljubimcem" [(ngModel)]="petChecked"
                              inputId="p"></p-checkbox>
                  <label for="p">Vožnja sa ljubimcem</label>
                </div>
              </div>
              <!-- ovde dodaj datum za buducnost -->
              <div class="mt-5">
                <label> Ako je vožnja u budućnosti, izaberi vreme</label>
                <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
              </div>
            </div>

            <div class="col-4">
              <h1>Izaberi tip vozila</h1>
              <div *ngFor="let category of vehicleTypes" class="field-checkbox" class="m-2 p-2">
                <p-radioButton [inputId]="category.id.toString()" name="category" [value]="category"
                               [(ngModel)]="selectedVehicle"></p-radioButton>
                <label [for]="category.id">{{category.name}} - {{category.price}} dinara</label>
              </div>
            </div>


            <div class="col-4 px-5 vl">
              <div class="row">
                <h1>Dodaj drugare za podelu racuna</h1>
                <mat-form-field class="example-chip-list" appearance="fill">
                  <mat-label>Dodaj drugara</mat-label>
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip
                      *ngFor="let user of splitFairUsernames"
                      (removed)="remove(user)">
                      {{user}}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input
                      #usernameInput
                      [formControl]="currentUsernameForSplitFair"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let username of filteredUsernames | async" [value]="allUsernames">
                      {{username}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>


              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-end">
        <p-button label="Potvrdi" id="additionPotvrdi" (onClick)="setChosenData()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
<p-toast position="top-right" key="driving-additional-message"></p-toast>
