<div align="center">
  <mat-card class="register">
    <mat-card-title class="title"> Uber za tebe</mat-card-title>
    <p>Registruj se i putuj udobno od tačke do tačke</p>
      <mat-card-content>
        <form class="register-form" [formGroup]="registerFormGroup">
          <mat-grid-list cols="2" rowHeight="5.5:1">
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Ime</mat-label>
                <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                       id="name" placeholder="Pera">
                <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
                  Min dužina imena mora da bude veći od 3
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
                  Mora da počinje sa velikom slovom i bez razmaka
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('maxlength') && !nameFormControl.hasError('required')">
                  Max dužina imena mora da bude manje od 20
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Ime je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Prezime</mat-label>
                <input type="text" matInput [formControl]="surnameFormControl" [errorStateMatcher]="matcher"
                       id="surname" placeholder="Perić">
                <mat-error *ngIf="surnameFormControl.hasError('minlength') && !surnameFormControl.hasError('required')">
                  Min dužina prezimena mora da bude veći od 3
                </mat-error>
                <mat-error *ngIf="surnameFormControl.hasError('pattern') && !surnameFormControl.hasError('required')">
                  Mora da počinje sa velikom slovom i bez razmaka
                </mat-error>
                <mat-error *ngIf="surnameFormControl.hasError('maxlength') && !surnameFormControl.hasError('required')">
                  Max dužina prezimena mora da bude manje od 20
                </mat-error>
                <mat-error *ngIf="surnameFormControl.hasError('required')">
                  Prezime je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Korisničko ime</mat-label>
                <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                       id="username" placeholder="Perić">
                <mat-error *ngIf="usernameFormControl.hasError('pattern') && !usernameFormControl.hasError('required')">
                  Mora da počinje sa velikom slovom
                </mat-error>
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                  Korisničko ime je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       id="email" placeholder="pera.peric@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Molimo Vas unesite validnu email adresu
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Lozinka</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                       id="password" placeholder="aA1*">
                <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                  Bar 8 karaktera, cifre i spacijalan znak
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                  Lozinka je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Potvrdi lozinku</mat-label>
                <input type="password" matInput [formControl]="password2FormControl" [errorStateMatcher]="matcher"
                       id="password2" placeholder="aA1*">
                <mat-error *ngIf="password2FormControl.hasError('pattern') && !password2FormControl.hasError('required')">
                  Bar 8 karaktera, cifre i spacijalan znak
                </mat-error>
                <mat-error *ngIf="!password2FormControl.hasError('required') && password2FormControl.hasError('wrongValue')">
                  Lozinke se ne preklapaju
                </mat-error>
                <mat-error *ngIf="password2FormControl.hasError('required')">
                  Lozinka je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Grad</mat-label>
                <input type="text" matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher"
                       id="city" placeholder="Perić">
                <mat-error *ngIf="cityFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
                  Grad počne sa velikom slovom
                </mat-error>
                <mat-error *ngIf="cityFormControl.hasError('minlength') && !cityFormControl.hasError('required')">
                  Min dužina grada mora da bude veći od 3
                </mat-error>
                <mat-error *ngIf="cityFormControl.hasError('maxlength') && !cityFormControl.hasError('required')">
                  Max dužina imena mora da bude manje od 20
                </mat-error>
                <mat-error *ngIf="cityFormControl.hasError('required')">
                  Grad je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Poštanski broj</mat-label>
                <input type="text" matInput [formControl]="cityNumberFormControl" [errorStateMatcher]="matcher"
                       id="postalNumber" placeholder="Perić">
                <mat-error *ngIf="cityNumberFormControl.hasError('pattern') && !cityNumberFormControl.hasError('required')">
                  Poštanski broj sastoji od broja
                </mat-error>
                <mat-error *ngIf="cityFormControl.hasError('required')">
                  Poštanski broj je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="register-form-input" appearance="fill">
                <mat-label>Telefon</mat-label>
                <input type="tel" matInput [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
                       id="phone" placeholder="Perić">
                <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
                  Telefon mora da ima format: +381601122365
                </mat-error>
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                  Telefon je <strong>potrebno</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <button [disabled]="!registerFormGroup.valid" mat-raised-button color="primary" (click)="submit()" type="submit">Registruj</button>
            </mat-grid-tile>
          </mat-grid-list>

        </form>
      </mat-card-content>
  </mat-card>
</div>

<p-toast position="top-right" key="registration-message" id="register"></p-toast>

