
:host {
  text-align:center;
}


.register {
  width: 80%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.title {
  font-size: 30px;
}

.register-form-input {
  width: 80%;
}
.register-form{
  padding-bottom: 10px;
}

button {
  width: 50%;
}

