

    <div class="row d-flex justify-content-between p-1 m-1">

      <div class="col-6">
        <div class="row"> <!-- class="leaflet-bottom leaflet-left">  -->
          <div class="col">
            <app-geocoding (search)="refreshSearchList($event)"></app-geocoding>
          </div>
        </div>
        <div id="details-panel">

          <app-chosen-stations [chosenStations]="mapPointStations"
                               (locationDelete)="refreshMap($event)"></app-chosen-stations>

          <div class="row">
            <div class="col">
              <button pButton type="button" id="showPath" class="p-button-raised p-button-rounded p-button-sm"
                      (click)="getDirections()">Prikaži
                putanju
              </button>
            </div>
            <div class="col">
              <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm" (click)="resetAll()">
                Reset
              </button>
            </div>
          </div>

          <app-results-list [results]="results" (locationSelected)="getAddress($event)"></app-results-list>
        </div>
      </div>

        <div class="col-6" id="map" align="center"
             leaflet
             (leafletMapReady)="initializeMap($event)"
             [leafletOptions]="options">
          <!--  (leafletClick)="onMapClick($event)">  -->
        </div>

    </div>
<p-toast position="top-right" key="map-point-message"></p-toast>


