.map-container {
  /*  width: 700px;
    height: 500px;
    margin: 30px;  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  max-width: 600px;
  max-height: 500px;
  min-width: 600px;
  min-height: 500px;
  margin: 2px;
  border: 1px solid black;
  align-content: center;

}

app-geocoding, app-chosen-stations, app-results-list{
  padding:5px;
  margin:3px;
}

