<div class="driving">
  <div class="row mb-5">
    <div class="col-5">
      <app-admin-driving-detailed-main [driving]="driving"></app-admin-driving-detailed-main>
    </div>
    <div class="col-6">
      <app-view-map [drivingId]="drivingId"></app-view-map>
    </div>
  </div>
  <app-admin-driving-detailed-passengers [passengers]="driving.passengers"></app-admin-driving-detailed-passengers>
</div>
