<div mat-dialog-content>
  <div class="row my-1">
    <div class="col-9">
      <h2><strong>Napomene</strong></h2></div>
    <div class="col-3">
      <button pButton type="button" (click)="addWarning()" class="p-button-outlined p-button-sm p-button-rounded p-button-secondary ">
        Dodaj napomenu
      </button>
    </div>
  </div>
  <p-table class="table" [value]="warnings" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}"
           [lazy]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Admin</th>
        <th>Text</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warning>
      <tr>
        <td>{{warning.adminName}}</td>
        <td> {{warning.warningText}}</td>
      </tr>

    </ng-template>
  </p-table>
</div>
