<div class="row my-1" *ngFor="let passenger of passengers">
  <div class="row">
    <div class="col-1">
      <app-profile-photo [style]="'width: 50px; border-radius: 30%;'"
                         [username]="passenger.username"></app-profile-photo>

    </div>
    <div class="col-3">
      {{passenger.fullName}}
    </div>
    <div class="col-3" *ngIf="passenger.paid">
      <p-badge [style]="{backgroundColor:'var(--green-300)', color:'var(--surface-900)'}"
               [value]="'Plaćeno: ' + passenger.price.toFixed(2).toString()"></p-badge>
    </div>
    <div class="col-3" *ngIf="!passenger.paid">
      <p-badge [style]="{backgroundColor:'var(--red-200)', color:'var(--surface-900)'}"
               [value]="'Nije plaćeno: ' + passenger.price.toFixed(2).toString()"></p-badge>
    </div>
    <div class="col-1" *ngIf="passenger.reported">
      <p-badge [style]="{backgroundColor:'var(--red-400)', color:'var(--surface-900)'}"
               class="p-badge-lg p-badge-danger" [value]="'Prijavljen'"></p-badge>
    </div>
  </div>

  <div class="row star" *ngIf="passenger.rated">
    <div class="col-1">
    </div>
    <div class="col-5">
    <div class="row">
    <div class="col-6">
      Vozač:
      <br/>
      <ngx-stars [readonly]="true" [color]="'#FFEA00'" [customSize]="'24px'" [initialStars]="passenger.driverRating"></ngx-stars>
    </div>
    <div class="col-6">
      Vozilo
      <ngx-stars [readonly]="true" [color]="'#FFEA00'" [customSize]="'24px'" [initialStars]="passenger.vehicleRating"></ngx-stars>
    </div>
    </div>
    </div>
    <div class="col-6" *ngIf="passenger.text != ''">
      Tekst ratinga:
      <div class="mx-2 p-1" style="border: 1px solid gray">
        {{passenger.text}}
      </div>
    </div>
  </div>
  <hr/>

</div>
