<div class="row" style="height: 600px">
  <div class="col-10">
    <app-simulation-map></app-simulation-map>
  </div>

  <div class="col-2">
    <div class="mb-2 ">
      <button id="startButton" [disabled]="isButtonStartRejectDisabled" mat-raised-button color="primary" (click)="startDriving()">
        Započni vožnju
      </button>
    </div>

    <div class="mb-5">
      <button id="noPassengerButton" [disabled]="isButtonStartRejectDisabled" mat-raised-button color="warn" (click)="rejectDriving()">
        Nema putnika
      </button>
    </div>

    <div class="mt-5 ml-2 mr-2">
      <button id="endButton" [disabled]="isButtonEndDisabled" mat-raised-button color="primary" (click)="endDriving()">Završi vožnju
      </button>
    </div>
  </div>
</div>

<p-toast position="top-right" key="driver-start-reject-driving"></p-toast>

