
<div class="row my-2">
  <div class="col-10">
    <p-chart type="line" [data]="basicData" [responsive]="false"
             [width]="'1000px'"></p-chart>
  </div>
  <div class="col-2" *ngIf="reportDto.labels.length != 0">
    <h3 class="">
      <img [src]="lastSelectedUser.profile" alt="..." *ngIf="lastSelectedUser.profile != null" class="icon"/>
      <img src="../../../../assets/user.png" alt="..." *ngIf="lastSelectedUser.profile == null" class="icon"/>
      <strong>{{lastSelectedUser.fullname}}</strong></h3>
    <div class="row my-4 summary">
      Broj vožnji
      <p><strong>Suma:  {{reportDto.sumOfDrivings.toFixed(2)}} </strong></p>
      <p><strong>Prosek: {{reportDto.averageOfDrivings.toFixed(2)}}</strong></p>
    </div>
    <div class="row my-4 summary">
      Kilometri
      <p><strong>Suma:  {{reportDto.sumOfDistances.toFixed(2)}} </strong></p>
      <p><strong>Prosek: {{reportDto.averageOfDistances.toFixed(2)}}</strong></p>
    </div>
    <div class="row my-4 summary">
      Troškovi
      <p><strong>Suma:  {{reportDto.sumOfMoney.toFixed(2)}} </strong></p>
      <p><strong>Prosek: {{reportDto.averageOfMoney.toFixed(2)}}</strong></p>
    </div>
  </div>
</div>
