<div class="container">
    <div>
        <h1>Plaćanje vožnje</h1>
        <h2>Cena: {{price}} tokena (dinara)</h2>
        <p *ngIf="passengers.length > 1">*Cena će biti podeljena na broj putnika i naplaćena
            svakom putniku jednako.
        </p>
    </div>

    <button mat-raised-button type="button" id="payBtn" color="primary" (click)="purchaseDriving()">Plati vožnju</button>
</div>

<p-toast position="top-right" key="payment-message"></p-toast>
