<div class="row d-flex justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <h2 class="my-4"><strong> Nova vožnja </strong></h2>
  </div>
</div>

<div class="main">
  <div class="row data">
    <div class="col-3 right">
      Dodao:
    </div>
    <div class="col-9 ">
      {{splitFareApprovalData.orderedFullname}}
    </div>
    <div class="col-3 right">
      Vreme:
    </div>
    <div class="col-9">
      {{splitFareApprovalData.orderTime | dateArrayToString}}
    </div>
    <div class="col-3 right">
      Od:
    </div>
    <div class="col-9">
      {{splitFareApprovalData.departure}}
    </div>
    <div class="col-3 right">
      Do:
    </div>
    <div class="col-9">
      {{splitFareApprovalData.arrival}}
    </div>
    <div class="col-3 right">
      Cena:
    </div>
    <div class="col-9">
      {{splitFareApprovalData.price}}
    </div>
  </div>

  <div class="row my-5 d-flex justify-content-center ">
    Vi biste platili: {{splitFareApprovalData.partialPrice}}
  </div>

  <div class="row my-2">
    <div class="col-6 d-flex justify-content-center">
      <button type="button" mat-dialog-close class="p-button-outlined p-button-secondary" pButton>Zatvori</button>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <button type="button" id="confirmSplitFair" (click)="confirmDriving()" autofocus class="p-button-outlined p-button-success" pButton>Potvrdi</button>
    </div>
  </div>


</div>
