<app-admin-user-detailed-basic [user]="client"></app-admin-user-detailed-basic>
<app-vehicle [driverUsername]="client.username"></app-vehicle>
<app-admin-user-detailed-warnings [user]="client"></app-admin-user-detailed-warnings>
<div mat-dialog-content>
  <h2 class="mt-2"><strong>Vožnje</strong></h2>
  <p-table class="table" [value]="drivings" [tableStyle]="{'min-width': '50rem'}" [lazy]="true"
           (onLazyLoad)="nextDrivingPage($event)" [loading]="drivingLoading" [totalRecords]="drivingTotalRecords"
           [paginator]="true" [rows]="drivingRow" [showCurrentPageReport]="true"
           [currentPageReportTemplate]="'{currentPage} od {totalPages}'" [rowsPerPageOptions]="[1,2,5]">
    <ng-template pTemplate="header">
      <tr>
        <th>Stanje</th>
        <th>Vreme naručivanja</th>
        <th>Polazište</th>
        <th>Odredište</th>
        <th>Cena</th>
        <th>Tekst za odbijanje</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driving>
      <tr
        (click)="openDialogForDriving(driving.id)"
        [ngStyle]="{'background-color': driving.reported ? '#ffe6e6' : 'white'}">
        <td>{{driving.drivingState | drivingStateToString }}</td>
        <td>{{driving.orderTime | dateArrayToString }}</td>
        <td>{{driving.departure}}</td>
        <td>{{driving.arrival}}</td>
        <td>{{driving.price}}</td>
        <td>{{driving.rejectionText}}</td>
      </tr>
    </ng-template>
  </p-table>


</div>
