<div mat-dialog-title>
  <i class="pi pi-times close-button" mat-dialog-close ></i>
  <div class="row mt-2">
    <div class="col-1 mx-3">
      <!--<img src="../../../../assets/user.png" alt="..."/>-->
      <app-profile-photo [style]="'width: 70px; border-radius: 30%;'" [username]="user.username"></app-profile-photo>
    </div>
    <div class="col-8">
      <strong>{{user.name}} {{user.surname}}</strong>
      <br/>
      {{user.username}}
    </div>
    <div class="col-2 d-flex " style="height: 40px;">
      <button *ngIf="!user.blocked" mat-stroked-button color="warn" type="button"
              (click)="blockUser(user.username)">blokiraj</button>
      <button *ngIf="user.blocked" mat-stroked-button type="button"
              (click)="blockUser(user.username)">odblokiraj</button>
    </div>
  </div>
</div>
