<div>
  <div>
    <form class="reactiveForm" [formGroup]="searchForm">
      <div class="form-group row">
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            id="name"
            name="address"
            placeholder="Adresa"
            formControlName="search"
          />
        </div>
      </div>
    </form>
  </div>
</div>

