<!--<app-simple-header></app-simple-header>-->
<mat-card align="center">
  <mat-card-title>Unosite korisničko ime!</mat-card-title>
  <br />
  <mat-card-content>
    <form [formGroup]="passwordResetForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field [hideRequiredMarker]="false">
          <input class="input" type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <button class="button" type="submit" mat-raised-button color="primary">Pošalji mejl</button>

    </form>
  </mat-card-content>
</mat-card>
<p-toast position="top-right" key="password-reset-request-message"></p-toast>
