<h2>Vozilo</h2>
<div class="row">
  <div class="col-3">
    <div class="row">
      <div class="col-4 mx-3">
        Tip:
      </div>
      <div class="col-5">
        {{vehicle.vehicleType}}
      </div>
    </div>
    <div class="row">
      <div class="col-4 mx-3">
        Cena:
      </div>
      <div class="col-5">
        {{vehicle.vehiclePrice}}
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="row">
      <div class="col-2 mx-3">
        Ime:
      </div>
      <div class="col-6 mx-3">
        {{vehicle.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-2 mx-3">
        Boja:
      </div>
      <div class="col-6  mx-3">
        {{vehicle.color}}
      </div>
    </div>
    <div class="row">
      <div class="col-2 mx-3">
        Godina:
      </div>
      <div class="col-6 mx-3">
        {{vehicle.yearOfProduction}}
      </div>
    </div>
    <div class="row">
      <div class="col-2 mx-3">
        Oznaka:
      </div>
      <div class="col-6 mx-3">
        {{vehicle.label}}
      </div>
    </div>
    <div class="row">
      <div class="col-2 mx-3">
        Sedista:
      </div>
      <div class="col-6 mx-3">
        {{vehicle.numberOfSeats}}
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="row">
      <img *ngIf="vehicle.petFriendly" src="assets/vehicle/petFriendly.png" alt="pet friendly"/>
      <img *ngIf="!vehicle.petFriendly" src="assets/vehicle/notPetFriendly.png" alt="not pet friendly"/>
      <img *ngIf="vehicle.babyFriendly" src="assets/vehicle/babyFriendly.png" alt="baby friendly"/>
      <img *ngIf="!vehicle.babyFriendly" src="assets/vehicle/notBabyFriendly.png" alt="not baby  friendly"/>

    </div>
  </div>
</div>
