<div id="results-list">
  <p>Pronađene adrese</p>
  <div  id="results" style="overflow:scroll; max-height:300px;">

        <p-panel [showHeader]="false" *ngFor="let result of results" (click)="selectResult(result)">
          <label class="foundAddress" >{{ result.displayName }}</label>
        </p-panel>

  </div>
</div>


<!-- [style]="{'padding':'5px'}"  -->
