<p-tabView class="ui-tabview-nav">
  <p-tabPanel header="Pojedinačni izveštaji">
    <ng-template pTemplate="content">
      <app-admin-driving-reports></app-admin-driving-reports>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Globalni izveštaji">
    <ng-template pTemplate="content">
      <app-admin-global-reports></app-admin-global-reports>
    </ng-template>
  </p-tabPanel>
</p-tabView>
