.header {
  height: 60px;
  background-color: #80ccff;/*ccccff**/
  margin-bottom: 10px;
}

.img{
  height: 30px;
  margin: 15px 10px 0px 10px;

}

h1 {
  padding: 18px 5px 5px 10px;
  font-size: 25px;
}

.logo {
  margin: 12px 10px 5px 25px;
  height: 40px;
}

a:hover {
  cursor: pointer;
}
