<div class="row">
  <div class="col-12 mini-title d-flex justify-content-center">
    <div class="row">
      Vozač
    <ngx-stars class="driver" [wholeStars]="true" [readonly]="false" [color]="'#FFEA00'" [size]="3" [initialStars]="rating.driverRating"
               (ratingOutput)="setDriverRating($event)"></ngx-stars>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12 mini-title  d-flex justify-content-center">
    <div class="row">
    Vozilo
    <ngx-stars class="vehicle" [wholeStars]="true" [readonly]="false" [color]="'#FFEA00'" [size]="3" [initialStars]="rating.vehicleRating"
               (ratingOutput)="setVehicleRating($event)"></ngx-stars>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mini-title  d-flex justify-content-center">
    <div class="row">
      <div class="m-2">
      Komentar
      </div>
      <textarea pInputTextarea [rows]="4" [cols]="30" [(ngModel)]="rating.text"></textarea>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 mini-title  d-flex justify-content-center">
    <button id="leaveRatingButton" pButton type="button" (click)="leaveRating()">
      Sacuvaj
    </button>
  </div>
</div>

