<div class="row header">
  <div class="col-6">
    <a href="home">
      <img class="logo" src="assets/uber_icon.png" alt="Uber" align="left"
           pTooltip="Home" tooltipPosition="bottom"/>
    </a>
    <h1> {{pageTitle}}</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <nav>
      <span>
          <a [routerLink]="['/auth/login']">
            <img class="img" src="assets/icons/enter.png" alt="Ulogovanje"
                 pTooltip="Ulogovanje" tooltipPosition="bottom"/>
          </a>
          <a [routerLink]="['/auth/register']">
            <img class="img" src="assets/icons/add-user.png" alt="Ulogovanje"
                 pTooltip="Registracija" tooltipPosition="left"/>
          </a>
      </span>
    </nav>
  </div>
</div>
