<p-table class="table" [value]="requests" [tableStyle]="{'min-width': '50rem'}" [lazy]="true"
         (onLazyLoad)="nextPage($event)" [loading]="loading" [totalRecords]="totalRecords"
         [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true" #table
         [currentPageReportTemplate]="'{currentPage} od {totalPages}'" [rowsPerPageOptions]="[5,10]">
  <ng-template pTemplate="header">
    <tr>
      <th>&nbsp;</th>
      <th>Korisničko ime</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Grad</th>
      <th>Poštanski broj</th>
      <th>Broj telefona</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-request>
    <tr>
      <td><img src="../../../../assets/user.png" alt="..."/> </td>
      <td>{{request.username}}</td>
      <td><div [ngClass]="{'changed' : request.changes.includes('name')}">{{request.name}}</div></td>
      <td><div [ngClass]="{'changed' : request.changes.includes('surname')}">{{request.surname}}</div></td>
      <td><div [ngClass]="{'changed' : request.changes.includes('city')}">{{request.city.name}}</div></td>
      <td><div [ngClass]="{'changed' : request.changes.includes('postNumber')}">{{request.city.postNumber}}</div></td>
      <td><div [ngClass]="{'changed' : request.changes.includes('phone')}">{{request.phone}}</div></td>
      <td>
        <button mat-raised-button color="warn" [style]="'height:40px'"
        (click)="decline($event, request)">Odbaci</button>
        
      </td>
      <td>
        <button mat-raised-button  [style]="'height:40px'" color="primary"
        (click)="accept($event, request)">Prihvati</button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <p-toast position="top-right" key="update-profile-message"></p-toast> -->