<div class="row header">
  <div class="col-6">
    <a href="driver/simulation">
      <img class="logo" src="assets/uber_icon.png" alt="Uber" align="left"
           pTooltip="Home" tooltipPosition="bottom"/>
    </a>
    <h1> {{pageTitle}}</h1>
  </div>
  <div class="col-6">
    <nav class="d-flex justify-content-end">
      <span class="">
          <a (click)="changeStatus()">
            <img class="img" *ngIf="active" src="assets/icons/checked.png" alt="Status"
                 pTooltip="Aktivni ste" tooltipPosition="bottom"/>
            <img class="img" *ngIf="!active" src="assets/icons/circle.png" alt="Status"
                 pTooltip="Neaktivni ste" tooltipPosition="bottom"/>
          </a>
          <a (click)="openChat()">
            <img class="img" src="assets/icons/bubble-chat.png" alt="Live čet"
                 pTooltip="Live čet" tooltipPosition="bottom"/>
          </a>
          <a href="/reports/driver">
            <img class="img" src="assets/icons/report.png" alt="Izveštaji"
                 pTooltip="Izveštaji" tooltipPosition="bottom"/>
          </a>
          <a href="driver/driving/history">
            <img class="img" src="assets/icons/history.png" alt="Istorija"
                 pTooltip="Istorija" tooltipPosition="bottom"/>
          </a>
          <a (click)="toggle()">
            <img class="img" src="assets/icons/bell.png" alt="Obaveštenje"
                 pTooltip="Obaveštenje" tooltipPosition="bottom"/>
            <app-driver-notifications (display)="openNotification($event)" [overlayVisible]="overlayVisible"></app-driver-notifications>
          </a>
          <a [routerLink]="['/profile/user']">
            <img class="img" src="assets/user.png" alt="Profil"
                 pTooltip="Profil" tooltipPosition="bottom"/>
          </a>
          <a (click)="logout()">
            <img class="img" src="assets/icons/logout.png" alt="Odjava"
                 pTooltip="Odjava" tooltipPosition="left"/>
          </a>
      </span>
    </nav>
  </div>
</div>

<app-chat [openChat]="openLiveChat"></app-chat>

<p-toast position="top-right" (click)="triggeredClickOnNotification()" key="notification-message"></p-toast>
