<div class="row">
  <div class="col-3"><h1><strong> Vožnja</strong></h1></div>
  <div class="col-4">
    <p-badge size="large" [style]="{backgroundColor:'var(--cyan-300)', color:'var(--surface-900)'}"
             [value]="driving.state | drivingStateToString"></p-badge>
  </div>
  <div class="col-5">
    <p-badge size="large" [style]="{backgroundColor:'var(--cyan-300)', color:'var(--surface-900)'}"
             class="p-badge-success" [value]="'Cena: ' + driving.price.toFixed(2).toString()"></p-badge>
  </div>
</div>
<div class="row mb-2">
  <div class="col-6">
    <strong>Vreme naručivanja:</strong>
  </div>
  <div class="col-6">
    {{driving.orderTime | dateArrayToString}}
  </div>
</div>
<div class="row mb-4 mx-4 services d-flex justify-content-center">
  <img *ngIf="driving.petFriendly" src="assets/vehicle/petFriendly.png" alt="pet friendly"/>
  <img *ngIf="!driving.petFriendly" src="assets/vehicle/notPetFriendly.png" alt="not pet friendly"/>
  <img *ngIf="driving.babyFriendly" src="assets/vehicle/babyFriendly.png" alt="baby friendly"/>
  <img *ngIf="!driving.babyFriendly" src="assets/vehicle/notBabyFriendly.png" alt="not baby  friendly"/>
  Tip: <br/> {{driving.vehicleType}}
</div>
<div>
  <div *ngIf="driving.finished" class="mx-2 p-1" style="border: 1px solid black;">
    <strong>Vreme vožnja</strong>
    <div class="row mx-2" *ngIf="driving.finished">
      <div class="col-1">Od:</div>
      <div class="col-9">{{driving.startTime | dateArrayToString}}</div>
    </div>
    <div class="row mx-2" *ngIf="driving.finished">
      <div class="col-1">Do:</div>
      <div class="col-9">{{driving.endTime | dateArrayToString}}</div>
    </div>
  </div>
</div>

<div class="px-3" *ngIf="driving.rejected" style="border: 1px solid darkred;">
  <div class="row">
    Tekst odbijanja:
  </div>
  <div class="row"> {{driving.rejectionText}} </div>
</div>
<div class="row mt-3" *ngIf="driving.driver.username !== null">
  <div class="col-4">
    <strong>Vozač</strong>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <app-profile-photo [style]="'width: 50px; border-radius: 30%;'"
                       [username]="driving.driver.username"></app-profile-photo>
  </div>
  <div class="col-6">
    {{driving.driver.fullName}}
  </div>
</div>

<div class="row" *ngIf="driving.driver.rated && driving.driver.username !== null">
  <div class="col-6">
    Ukupna ocena vozača:
    <br/>
    <ngx-stars [readonly]="true" [color]="'#FFEA00'" [customSize]="'24px'" [initialStars]="driving.driver.driverRating"></ngx-stars>

  </div>
  <div class="col-6">
    Ukupna ocena vozila
    <ngx-stars [readonly]="true" [color]="'#FFEA00'" [customSize]="'24px'" [initialStars]="driving.driver.vehicleRating"></ngx-stars>

  </div>
</div>
<div class="row" *ngIf="!driving.driver.rated && driving.driver.username !== null">
  <div class="col-6">
    Vozač još nema ocene
  </div>
</div>
