<div class="driving">
  <div class="row mb-5">
    <div class="col-5">
      <app-admin-driving-detailed-main [driving]="driving"></app-admin-driving-detailed-main>

      <div class="row">
        <div class="col-12 pt-4 d-flex justify-content-end">
          <button *ngIf="driving.favourite" pButton type="button" (click)="toggleFavourite()" class="p-button-outlined p-button-sm p-button-rounded p-button-warning mx-4"
                >
            <div> Skloni od omiljenih </div>
          </button>
          <button *ngIf="!driving.favourite" pButton type="button" (click)="toggleFavourite()"
                  class="p-button-outlined p-button-sm p-button-rounded p-button-secondary mx-4">
            <div> Dodalj kao omiljeni </div>
          </button>
          <button pButton class="p-button-outlined p-button-sm p-button-rounded p-button-primary mx-4"(click)="orderDriving()" mat-dialog-close="">
            Naruči vožnju
          </button>
          <button pButton type="button" *ngIf="driving.clientCanLeaveRating" (click)="leaveRating()" class="p-button-outlined p-button-sm p-button-rounded p-button-secondary ">
            Ostavi recenziju
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-view-map [drivingId]="drivingId"></app-view-map>
    </div>
  </div>
  <app-admin-driving-detailed-passengers [passengers]="driving.passengers"></app-admin-driving-detailed-passengers>
</div>

<p-toast position="top-right" key="rating-message"></p-toast>
