<div class="row">
  <div class="col-9">
  </div>
  <div class="col-3">
    <p-treeSelect (onNodeSelect)="sortElements()" placeholder="Sortiraj" [containerStyle]="{'width':'50%'}" [(ngModel)]="selectedNode" [options]="nodes"></p-treeSelect>
  </div>
</div>
<div class="table">
  <p-table class="table" [value]="drivings" [lazy]="true"
           (onLazyLoad)="nextPage($event)" [loading]="loading" [totalRecords]="totalRecords"
           [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true" #table
           [currentPageReportTemplate]="'{currentPage} od {totalPages}'" [rowsPerPageOptions]="[1,2,5]">
    <ng-template pTemplate="header">
      <tr>
        <th>Stanje</th>
        <th>Polazište</th>
        <th>Odredište</th>
        <th>Cena</th>
        <th>Od</th>
        <th>Do</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driving><!-- (click)="openDialog(client)"-->
      <tr
        (click)="openDialog(driving.drivingId)">
        <td>{{driving.state | drivingStateToString}}</td>
        <td>{{driving.departure}}</td>
        <td>{{driving.arrival}}</td>
        <td>{{driving.price}}</td>
        <td *ngIf="driving.startDateTime !== null">{{driving.startDateTime | dateArrayToString}}</td>
        <td *ngIf="driving.startDateTime === null">&nbsp;</td>
        <td *ngIf="driving.endDateTime !== null">{{driving.endDateTime | dateArrayToString}}</td>
        <td *ngIf="driving.endDateTime === null">&nbsp;</td>
      </tr>
    </ng-template>
  </p-table>
</div>
