range-picker {
  width: 50%
}

.date{
  margin-left: 10%;
}

.all{
  margin-left: 5%;
}

.summary {
  border: 1px solid black;
  height: 120px;
  padding: 2%;
  width: 120px;
}

.icon {
  height: 20px;
}
