<div align="center">
    <mat-card class="register">
      <mat-card-title> Registracija vozača </mat-card-title>
        <mat-card-content>
          <form class="register-form" [formGroup]="registerFormGroup">
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Ime</mat-label>
                  <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                         placeholder="Pera">
                  <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
                    Min dužina imena mora da bude veći od 3
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
                    Mora da počinje sa velikom slovom
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('maxlength') && !nameFormControl.hasError('required')">
                    Max dužina imena mora da bude manje od 20
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Ime je <strong>obavezno</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Korisničko ime</mat-label>
                  <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                         placeholder="Perić">
                  <mat-error *ngIf="usernameFormControl.hasError('pattern') && !usernameFormControl.hasError('required')">
                    Mora da počinje sa velikom slovom
                  </mat-error>
                  <mat-error *ngIf="usernameFormControl.hasError('required')">
                    Korisničko ime je <strong>obavezno</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Prezime</mat-label>
                  <input type="text" matInput [formControl]="surnameFormControl" [errorStateMatcher]="matcher"
                         placeholder="Perić">
                  <mat-error *ngIf="surnameFormControl.hasError('minlength') && !surnameFormControl.hasError('required')">
                    Min dužina prezimena mora da bude veći od 3
                  </mat-error>
                  <mat-error *ngIf="surnameFormControl.hasError('pattern') && !surnameFormControl.hasError('required')">
                    Mora da počinje sa velikom slovom
                  </mat-error>
                  <mat-error *ngIf="surnameFormControl.hasError('maxlength') && !surnameFormControl.hasError('required')">
                    Max dužina prezimena mora da bude manje od 20
                  </mat-error>
                  <mat-error *ngIf="surnameFormControl.hasError('required')">
                    Prezime je <strong>obavezno</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Lozinka</mat-label>
                  <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                         placeholder="aA1*">
                  <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                    Bar 8 karaktera, cifre i spacijalan znak
                  </mat-error>
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Lozinka je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                         placeholder="pera.peric@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Molimo Vas unesite validnu email adresu
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Potvrdi lozinku</mat-label>
                  <input type="password" matInput [formControl]="password2FormControl" [errorStateMatcher]="matcher"
                         placeholder="aA1*">
                  <mat-error *ngIf="!password2FormControl.hasError('required') && password2FormControl.hasError('wrongValue')">
                    Lozinke se ne preklapaju
                  </mat-error>
                  <mat-error *ngIf="password2FormControl.hasError('required')">
                    Lozinka je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Telefon</mat-label>
                  <input type="tel" matInput [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
                         placeholder="">
                  <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
                    Telefon mora da ima format: +381601122365
                  </mat-error>
                  <mat-error *ngIf="phoneFormControl.hasError('required')">
                    Telefon je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Grad</mat-label>
                  <input type="text" matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher"
                         placeholder="Novi Sad">
                  <mat-error *ngIf="cityFormControl.hasError('pattern') && !cityFormControl.hasError('required')">
                    Grad može da sadrži samo slova
                  </mat-error>
                  <mat-error *ngIf="cityFormControl.hasError('required')">
                    Grad je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Poštanski broj</mat-label>
                  <input type="text" matInput [formControl]="postNumberFormControl" [errorStateMatcher]="matcher"
                         placeholder="21000">
                  <mat-error *ngIf="postNumberFormControl.hasError('pattern') && !postNumberFormControl.hasError('required')">
                    Poštanski broj se sastoji od 5 cifara
                  </mat-error>
                  <mat-error *ngIf="postNumberFormControl.hasError('required')">
                    Poštanski broj je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>
            <h1 style="margin-top: 20px;">Dodavanje vozila</h1>
            
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Naziv vozila</mat-label>
                  <input type="text" matInput [formControl]="vehicleNameFormControl" [errorStateMatcher]="matcher"
                         placeholder="Mercedes c220">
                  <mat-error *ngIf="vehicleNameFormControl.hasError('required')">
                    Naziv vozila je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Tip vozila</mat-label>
                  <input type="text" matInput [formControl]="vehicleTypeFormControl" [errorStateMatcher]="matcher"
                         placeholder="Limuzina">
                  <mat-error *ngIf="vehicleTypeFormControl.hasError('pattern') && !vehicleTypeFormControl.hasError('required')">
                    Tip vozila da sadrži samo slova i mora početi velikim slovom
                  </mat-error>
                  <mat-error *ngIf="vehicleTypeFormControl.hasError('required')">
                    Tip vozila je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Boja</mat-label>
                  <input type="text" matInput [formControl]="colorFormControl" [errorStateMatcher]="matcher"
                         placeholder="crna">
                  <mat-error *ngIf="colorFormControl.hasError('pattern') && !colorFormControl.hasError('required')">
                    Boja može da sadrži samo slova i mora početi velikim slovom
                  </mat-error>
                  <mat-error *ngIf="colorFormControl.hasError('required')">
                    Boja je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Labela</mat-label>
                  <input type="text" matInput [formControl]="labelFormControl" [errorStateMatcher]="matcher"
                         placeholder="tekst">
                  <mat-error *ngIf="labelFormControl.hasError('pattern') && !labelFormControl.hasError('required')">
                    Labela može da sadrži samo slova i mora početi velikim slovom
                  </mat-error>
                  <mat-error *ngIf="labelFormControl.hasError('required')">
                    Labela je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Godina proizvodnje</mat-label>
                  <input type="text" matInput [formControl]="yearOfProductionFormControl" [errorStateMatcher]="matcher"
                         placeholder="2003">
                  <mat-error *ngIf="yearOfProductionFormControl.hasError('pattern') && !yearOfProductionFormControl.hasError('required')">
                    Godina proizvodnje je broj i ne može biti manji od 1000
                  </mat-error>
                  <mat-error *ngIf="yearOfProductionFormControl.hasError('required')">
                    Godina proizvodnje je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Broj sedišta</mat-label>
                  <input type="text" matInput [formControl]="numberOfSeatsFormControl" [errorStateMatcher]="matcher"
                         placeholder="5">
                  <mat-error *ngIf="numberOfSeatsFormControl.hasError('pattern') && !numberOfSeatsFormControl.hasError('required')">
                    Broj sedišta je broj
                  </mat-error>
                  <mat-error *ngIf="numberOfSeatsFormControl.hasError('required')">
                    Broj sedišta je <strong>obavezan</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <div class="register-form-input">
                  <mat-checkbox type="text" [formControl]="petFriendlyFormControl">Pet friendly</mat-checkbox>
                </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <div class="register-form-input">
                  <mat-checkbox type="text" [formControl]="babyFriendlyFormControl">Baby friendly</mat-checkbox>
                </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="register-form-input" appearance="fill">
                  <mat-label>Cena po kilometru</mat-label>
                  <input type="text" matInput [formControl]="priceFormControl" [errorStateMatcher]="matcher"
                         placeholder="200">
                  <mat-error *ngIf="priceFormControl.hasError('pattern') && !priceFormControl.hasError('required')">
                    Cena je broj
                  </mat-error>
                  <mat-error *ngIf="priceFormControl.hasError('required')">
                    Cena je <strong>obavezna</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>     
  
            <p *ngIf="error" class="error">
              {{ error }}
            </p>
            <button [disabled]="!registerFormGroup.valid" mat-raised-button color="primary" (click)="submit()" type="submit">Registruj</button>
          </form>
        </mat-card-content>
    </mat-card>
  </div>
  
  <p-toast position="top-right" key="registration-message"></p-toast>
  
  