<div id="chosen-list">
  <div>
    <p>Kreiraj putanju prevlacenjem kartica</p>
  </div>
  <div id="border">
    <div class="drag-wrapper"
         *ngFor="let result of chosenStations; let index = index"
         [draggable]="true" (dragstart)="onDragStart(index)"
         (dragenter)="onDragEnter(index)" (dragend)="onDragEnd()">

      <p-panel [showHeader]="false">
        <span>
          <label>{{index + 1 + '.'}}</label>
          <label>{{ result.name }}</label>
        </span>
        <div>
        <!--  <button pButton type="button" label="Obriši" class=" p-button-sm p-button-rounded"
                  (click)="deleteCurrent(index)">   </button> --->

          <button mat-stroked-button color="primary" (click)="deleteCurrent(index)">Obriši</button>


        </div>
      </p-panel>

    </div>
  </div>

</div>


<!--
<div id="chosen-list">
  <h3>Odabrane adrese</h3>
  <div id="chosen">
    <ol>
      <li *ngFor="let result of chosenStations" >    (click)="selectResult(result)"
        {{ result.name  }}
      </li>
    </ol>
  </div>
</div>

-->
