.p-card {
  border: 1px solid black;
  padding: 4px;
}
.drag-wrapper {
  padding: 4px 0;

}

label{
  font-size: 16px;
}
p{
  font-size: 25px;
}
#border{
  border-style: solid;
  border-color:skyblue;
}
