<!--<app-simple-header></app-simple-header>-->
<mat-card align="center">
  <mat-card-title>Promenite lozinku</mat-card-title>
  <br />
  <mat-card-content>
    <form [formGroup]="passwordResetForm" (ngSubmit)="submit()"><!-- (ngSubmit)="submit()"-->
      <p>
        <mat-form-field [hideRequiredMarker]="false">
          <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Lozinka">
          <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
            Bar 8 karaktera, cifre i spacijalan znak
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Lozinka je <strong>potrebno</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [hideRequiredMarker]="false">
          <input type="password" matInput [formControl]="passwordAgainFormControl" [errorStateMatcher]="matcher" placeholder="Ponovite lozinku">
          <mat-error *ngIf="!passwordAgainFormControl.hasError('required') && passwordAgainFormControl.hasError('wrongValue')">
            Lozinke se ne preklapaju
          </mat-error>
          <mat-error *ngIf="passwordAgainFormControl.hasError('required')">
            Lozinka je <strong>potrebno</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <button class="button" type="submit" mat-raised-button color="primary">Promeni</button>

    </form>
  </mat-card-content>
</mat-card>
<p-toast position="top-right" key="password-reset-message"></p-toast>
