<div class="row header">
  <div class="col-6">
  <a href="/admin/users">
    <img class="logo" src="assets/uber_icon.png" alt="Uber" align="left"
         pTooltip="Home" tooltipPosition="bottom"/>
  </a>
  <h1> {{pageTitle}}</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <nav class="">
      <span class="">
          <a href="/admin/users">
            <img class="img" src="assets/icons/group.png" alt="Korisnici"
                 pTooltip="Korisnici" tooltipPosition="bottom"/>
          </a>
          <a [routerLink]="['/admin/add-driver']">
            <img class="img" src="assets/icons/car.png" alt="Dodaj vozača"
                 pTooltip="Dodaj vozača" tooltipPosition="bottom"/>
          </a>
          <a [routerLink]="['/admin/driver-requests']">
            <img class="img" src="assets/icons/driver.png" alt="Zahtevi vozača"
                 pTooltip="Zahtevi vozača" tooltipPosition="bottom"/>
          </a>
          <a href="reports/admin">
            <img class="img" src="assets/icons/report.png" alt="Izveštaji"
                 pTooltip="Izveštaji" tooltipPosition="bottom"/>
          </a>
          <a [routerLink]="['/profile/user']">
            <img class="img" src="assets/user.png" alt="Profil"
                 pTooltip="Profil" tooltipPosition="bottom"/>
          </a>
          <a (click)="logout()">
            <img class="img" src="assets/icons/logout.png" alt="Odjava"
                 pTooltip="Odjava" tooltipPosition="left"/>
          </a>
      </span>
    </nav>
  </div>
</div>


<app-admin-chat></app-admin-chat>
