<app-admin-header *ngIf="role === 'admin'" [pageTitle]="pageTitle" ></app-admin-header>
<app-registered-header *ngIf="role === 'registeredUser'" [pageTitle]="pageTitle"></app-registered-header>
<app-driver-header *ngIf="role === 'driver'" [pageTitle]="pageTitle"></app-driver-header>
<app-simple-header *ngIf="role !== 'driver' && role !== 'registeredUser' && role !== 'admin'"
                   [pageTitle]="pageTitle"></app-simple-header>

<router-outlet (activate)="checkRole()"></router-outlet>
