<p-table class="table" [value]="clients" [tableStyle]="{'min-width': '50rem'}" [lazy]="true"
         (onLazyLoad)="nextPage($event)" [loading]="loading" [totalRecords]="totalRecords"
         [paginator]="true" [rows]="rowCount" [showCurrentPageReport]="true" #table
         [currentPageReportTemplate]="'{currentPage} od {totalPages}'" [rowsPerPageOptions]="[1,2,5]">
  <ng-template pTemplate="header">
    <tr>
      <th>&nbsp;</th>
      <th>Ime</th>
      <th>Prezime</th>
      <!--<th>Korisničko ime</th>-->
      <th>Email</th>
      <th>Broj telefona</th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr  (click)="openDialog(client)"
      [ngStyle]="{'background-color': client.blocked ? '#ffe6e6' : 'white'}">
      <td>  <app-profile-photo [style]="'width: 50px; border-radius: 30%;'" [username]="client.username"></app-profile-photo> <!-- <img src="../../../../assets/user.png" alt="..."/> --> </td>
      <td>{{client.name}}</td>
      <td>{{client.surname}}</td>
      <!--<td>{{client.username}}</td>-->
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td *ngIf="!client.blocked">
        <button mat-stroked-button color="warn" [style]="'height:40px'"
                (click)="blockUser($event, client.username)">blokiraj</button>
      </td>
      <td *ngIf="client.blocked">
        <button *ngIf="client.blocked" mat-stroked-button  [style]="'height:40px'"
                (click)="blockUser($event, client.username)">odblokiraj</button>
      </td>
    </tr>
  </ng-template>
</p-table>
