<mat-card>
    <mat-card-title>Dobrodošli u Uber!</mat-card-title>
    <br />
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field [hideRequiredMarker]="true">
                    <input id="email" type="text" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [hideRequiredMarker]="true">
                    <input id="pass" type="password" matInput placeholder="Lozinka" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <button id="subBtn" class="button" type="submit" mat-raised-button color="primary">Prijava</button>
            <a class="d-flex justify-content-center" href="profile/reset/password/request"> Zaboravili ste lozinku? </a>

            <span class="or">- ili -</span>
            <div class="buttons">
                <!-- <asl-google-signin-button></asl-google-signin-button> -->
                <div class="google-btn-container">
                    <google-signin-button></google-signin-button>
                </div>

                <div class="fb-btn-container">
                    <button type="button mt-3" class="fb-btn" mat-stroked-button (click)="loginWithFB()">
                        <div class="icon-container"><mat-icon class="icon">facebook</mat-icon></div>
                        <div class="btn-text">Prijavite se pomoću Facebook-a</div>
                    </button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>
