:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.google-btn-container {
    display: flex;
    justify-content: center;
}

.fb-btn {
    background-color: #4285F4;
    color: #fff;
    width: 88%;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 2px;
}

.icon {
    color: #006AFF;
}

.icon-container {
    background-color: #fff;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fb-btn-container {
    /* sluzi za centriranje fb dugmeta */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.btn-text {
    display: inline-block;
}

.mat-stroked-button {
    border: 0;
}