<h1 mat-dialog-title>Dodajte svoju napomenu</h1>
<div mat-dialog-content>
  <textarea pInputTextarea [rows]="7" [cols]="40" [(ngModel)]="warning"></textarea>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Odustani</button>
  <button mat-button [mat-dialog-close]="warning">Sačuvaj</button>
</div>
