p {
  font-size: 20px;
  padding: 2px;
}

label{
  font-size: 20px;
  padding: 2px;
}


:host ::ng-deep .p-treeselect {
  width: 17rem;
  display: inline-flex;
}

:host ::ng-deep #treeRoute {
  width: 20rem;
  display: inline-flex;
}

