<div class="steps demo-content">
  <p-card [style]="{'height' : '100%'}">
    <ng-template pTemplate="header">
      <div class="row p-2">

        <div class="col-3">

          <p-treeSelect id="treeRoute" [(ngModel)]="selectedFavourite" [options]="nodesFavourite" selectionMode="single"
                        placeholder="Omiljene putanje" (click)="fovouriteRoutesIsClicked()"></p-treeSelect>

        </div>
        <div class="col-2">
          <p *ngIf="chosenRouteColor!==''; else elseBlock" id="chosenRouteColor">Izabrana putanja : {{this.chosenRouteColor}}</p>
          <ng-template #elseBlock><p>Izabrana putanja: /</p></ng-template>

        </div>
        <div class="col-3">
          <p-treeSelect id="tree" [(ngModel)]="selectedOptimal" [options]="nodes" selectionMode="single"
                        placeholder="Izaberi način izbora putanje"></p-treeSelect>
        </div>
        <div class="col-2 field-checkbox">
            <p-checkbox [(ngModel)]="isFavouriteRoute" [binary]="true" inputId="f"></p-checkbox>
            <label for="binary"> Omiljena putanja?</label>
        </div>
        <div class="col-2">
          <div class="d-flex justify-content-end">
            <p-button label="Dalje" id="dalje" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </div>
      </div>

    </ng-template>

    <ng-template pTemplate="content">
      <app-map [selectedOptimal]="selectedOptimal" [favouriteRoute]="favouriteRoute" (optimalRoute)="getOptimalRoute($event)"
               (resetEvent)="resetColor()"></app-map>
    </ng-template>

  </p-card>
</div>
<p-toast position="top-right" key="driving-order-message"></p-toast>

