<p-sidebar [visible]="overlayVisible" position="right">
  <div *ngFor="let i of notifications">
    <app-single-notification [notification]="i" (display)="openNotification($event)"></app-single-notification>
  </div>
</p-sidebar>

<p-toast position="top-right" key="notification-message"></p-toast>
