<div class="all">

  <div class="date my-4">
    <mat-radio-group (change)="optionChanged($event)" aria-label="Select an option">
      <mat-radio-button value="1" [checked]="true" class="mx-2">Klijenti</mat-radio-button>
      <mat-radio-button value="2" class="mx-2">Vozači</mat-radio-button>
    </mat-radio-group>
    <p-autoComplete [(ngModel)]="selectedUser" [suggestions]="users" (completeMethod)="filterValues($event)"
                    field="fullname" [dropdown]="true">
      <ng-template let-user pTemplate="item">
      <span class="country-item">
        <img [src]="user.profile" alt="..." *ngIf="user.profile != null" class="icon"/>
        <img src="../../../../assets/user.png" alt="..." *ngIf="user.profile == null" class="icon"/>
        <span> &nbsp; {{user.username}}, {{user.fullname}}</span>
      </span>
      </ng-template>
    </p-autoComplete>
  </div>

  <div class="date">
    <mat-form-field appearance="fill">
      <mat-label>Unosite interval</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Početni datum">
        <input matEndDate formControlName="end" placeholder="Krajnji datum">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Početni datum nije validan</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Krajnji datum nije validan</mat-error>
    </mat-form-field>
    <button class="m-2" mat-raised-button (click)="submited()" color="primary">Pokaži</button>
  </div>
  <app-complex-report [lastSelectedUser]="lastSelectedUser"
                      [reportDto]="reportDto"></app-complex-report>

</div>

<p-toast position="top-right" key="report-message"></p-toast>
