<!--<app-registered-header></app-registered-header>-->
<div class="container">
    <div class="left">
        <app-profile-photo 
            class="profilePhoto" 
            style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"
            [username]="username"
            [profilePhoto]="profilePhoto">
        </app-profile-photo>
        <div class="tokens" *ngIf="tokens !== null">Tokeni: {{tokens}} <mat-icon color="primary" style="margin-left: 5px;">monetization_on</mat-icon></div>
    </div>
    <div class="right">
        <form [formGroup]="form">
            <div class="formInput fileInput">
                <label for="file" class="file-label">
                    Promeni sliku: <mat-icon color="primary" class="icon">cloud_upload</mat-icon>
                </label>
                <input type="file" id="file" accept="image/*" style="display: none;" (change)="selectPhoto($event)">
            </div>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>Korisničko ime</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>Ime</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>Prezime</mat-label>
                <input matInput type="text" formControlName="surname">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true" >
                <mat-label>Grad</mat-label>
                <input matInput type="text"  formControlName="city">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>Poštanski broj</mat-label>
                <input matInput type="text"  formControlName="zip">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>Telefon</mat-label>
                <input matInput type="text" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="formInput" appearance="legacy" [hideRequiredMarker]="true">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>


            <div class="buttons">
                <button mat-raised-button type="button" color="primary" (click)="openPasswordDialog()">Promeni lozinku</button>
                <button mat-raised-button type="submit" color="primary" (click)="updateUser()">Ažuriraj podatke</button>
                <button mat-raised-button type="button" color="accent" (click)="openTokensDialog()" *ngIf="tokens !== null">Kupi tokene</button>
            </div>
        </form>
    </div>
</div>

<p-toast position="top-right" key="update-profile-message"></p-toast>
<p-toast position="top-right" key="change-password-message"></p-toast>
<p-toast position="top-right" key="buy-tokens-message"></p-toast>